/* reset */
@import "reset.css";
/* components */
@import "components/all_profile.css";
@import "components/all_position.css";
@import "components/all_settings-color.css";

body {
  background-color: rgb(165, 163, 160);
  font-family: "Open Sans", sans-serif;
}
/* display */
.more__clmn {
  display: flex;
}
.index {
  padding: 5vh 5vw;
}
.index__clmn {
  margin: 5px 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
/* This is border box */
.index__clmn__clmn {
  /* font */
  font-weight: inherit;
  /* design */
  border: 2px solid black;
  border-radius: 15px;
  /* animation */
  transition: background-color 0.3s linear;
}
.index__clmn__clmn:hover {
  /* design */
  background-color: rgb(202, 205, 207);
  /* font */
  font-weight: 600;
}
/* This is text in border box */
.index__clmn__clmn > p {
}
.heading{
  display: inline-block;
  margin-right: 20px;
}
