.re_z-index {
  z-index: 0;
}
.re_z-index > div {
  z-index: 0;
}
body {
  background: #ecf3f3;
}
.particle {
  position: absolute;
  border-radius: 50%;
}
@keyframes particle-animation-1 {
  100% {
    transform: translate3d(81vw, 58vh, 34px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.29;
  height: 8px;
  width: 8px;
  animation-delay: -0.2s;
  transform: translate3d(33vw, 82vh, 9px);
  background: #266bd9;
}
@keyframes particle-animation-2 {
  100% {
    transform: translate3d(28vw, 42vh, 99px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.71;
  height: 6px;
  width: 6px;
  animation-delay: -0.4s;
  transform: translate3d(57vw, 45vh, 95px);
  background: #71d926;
}
@keyframes particle-animation-3 {
  100% {
    transform: translate3d(11vw, 90vh, 89px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.9;
  height: 6px;
  width: 6px;
  animation-delay: -0.6s;
  transform: translate3d(38vw, 83vh, 20px);
  background: #7126d9;
}
@keyframes particle-animation-4 {
  100% {
    transform: translate3d(72vw, 4vh, 38px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.79;
  height: 9px;
  width: 9px;
  animation-delay: -0.8s;
  transform: translate3d(31vw, 24vh, 36px);
  background: #d95926;
}
@keyframes particle-animation-5 {
  100% {
    transform: translate3d(62vw, 53vh, 46px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.15;
  height: 7px;
  width: 7px;
  animation-delay: -1s;
  transform: translate3d(59vw, 57vh, 58px);
  background: #d926b5;
}
@keyframes particle-animation-6 {
  100% {
    transform: translate3d(60vw, 37vh, 49px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.17;
  height: 9px;
  width: 9px;
  animation-delay: -1.2s;
  transform: translate3d(8vw, 38vh, 64px);
  background: #26a3d9;
}
@keyframes particle-animation-7 {
  100% {
    transform: translate3d(74vw, 39vh, 31px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.98;
  height: 7px;
  width: 7px;
  animation-delay: -1.4s;
  transform: translate3d(84vw, 9vh, 73px);
  background: #acd926;
}
@keyframes particle-animation-8 {
  100% {
    transform: translate3d(56vw, 64vh, 66px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.6;
  height: 10px;
  width: 10px;
  animation-delay: -1.6s;
  transform: translate3d(82vw, 89vh, 88px);
  background: #26d938;
}
@keyframes particle-animation-9 {
  100% {
    transform: translate3d(60vw, 32vh, 32px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.75;
  height: 8px;
  width: 8px;
  animation-delay: -1.8s;
  transform: translate3d(71vw, 29vh, 69px);
  background: #d9c126;
}
@keyframes particle-animation-10 {
  100% {
    transform: translate3d(7vw, 49vh, 28px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.61;
  height: 8px;
  width: 8px;
  animation-delay: -2s;
  transform: translate3d(50vw, 83vh, 59px);
  background: #8226d9;
}
@keyframes particle-animation-11 {
  100% {
    transform: translate3d(12vw, 85vh, 97px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.32;
  height: 7px;
  width: 7px;
  animation-delay: -2.2s;
  transform: translate3d(46vw, 80vh, 14px);
  background: #26d9ca;
}
@keyframes particle-animation-12 {
  100% {
    transform: translate3d(33vw, 32vh, 71px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.83;
  height: 6px;
  width: 6px;
  animation-delay: -2.4s;
  transform: translate3d(75vw, 22vh, 79px);
  background: #26bed9;
}
@keyframes particle-animation-13 {
  100% {
    transform: translate3d(33vw, 78vh, 5px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.98;
  height: 7px;
  width: 7px;
  animation-delay: -2.6s;
  transform: translate3d(42vw, 69vh, 30px);
  background: #a926d9;
}
@keyframes particle-animation-14 {
  100% {
    transform: translate3d(86vw, 55vh, 20px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.42;
  height: 7px;
  width: 7px;
  animation-delay: -2.8s;
  transform: translate3d(5vw, 67vh, 98px);
  background: #d99a26;
}
@keyframes particle-animation-15 {
  100% {
    transform: translate3d(12vw, 65vh, 100px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.46;
  height: 8px;
  width: 8px;
  animation-delay: -3s;
  transform: translate3d(53vw, 69vh, 38px);
  background: #3826d9;
}
@keyframes particle-animation-16 {
  100% {
    transform: translate3d(14vw, 59vh, 1px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.09;
  height: 7px;
  width: 7px;
  animation-delay: -3.2s;
  transform: translate3d(67vw, 50vh, 59px);
  background: #d95f26;
}
@keyframes particle-animation-17 {
  100% {
    transform: translate3d(10vw, 25vh, 20px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.6;
  height: 6px;
  width: 6px;
  animation-delay: -3.4s;
  transform: translate3d(87vw, 72vh, 94px);
  background: #26b5d9;
}
@keyframes particle-animation-18 {
  100% {
    transform: translate3d(58vw, 11vh, 40px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.31;
  height: 9px;
  width: 9px;
  animation-delay: -3.6s;
  transform: translate3d(82vw, 49vh, 8px);
  background: #d94726;
}
@keyframes particle-animation-19 {
  100% {
    transform: translate3d(88vw, 73vh, 97px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.08;
  height: 7px;
  width: 7px;
  animation-delay: -3.8s;
  transform: translate3d(59vw, 45vh, 12px);
  background: #a0d926;
}
@keyframes particle-animation-20 {
  100% {
    transform: translate3d(16vw, 23vh, 24px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.86;
  height: 7px;
  width: 7px;
  animation-delay: -4s;
  transform: translate3d(19vw, 71vh, 81px);
  background: #8026d9;
}
@keyframes particle-animation-21 {
  100% {
    transform: translate3d(80vw, 49vh, 36px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.09;
  height: 7px;
  width: 7px;
  animation-delay: -4.2s;
  transform: translate3d(2vw, 37vh, 20px);
  background: #b5d926;
}
@keyframes particle-animation-22 {
  100% {
    transform: translate3d(5vw, 23vh, 76px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.56;
  height: 9px;
  width: 9px;
  animation-delay: -4.4s;
  transform: translate3d(29vw, 36vh, 38px);
  background: #d9a626;
}
@keyframes particle-animation-23 {
  100% {
    transform: translate3d(46vw, 17vh, 42px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.95;
  height: 9px;
  width: 9px;
  animation-delay: -4.6s;
  transform: translate3d(86vw, 44vh, 4px);
  background: #b8d926;
}
@keyframes particle-animation-24 {
  100% {
    transform: translate3d(73vw, 24vh, 88px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.35;
  height: 9px;
  width: 9px;
  animation-delay: -4.8s;
  transform: translate3d(13vw, 8vh, 12px);
  background: #2f26d9;
}
@keyframes particle-animation-25 {
  100% {
    transform: translate3d(9vw, 12vh, 51px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.1;
  height: 7px;
  width: 7px;
  animation-delay: -5s;
  transform: translate3d(7vw, 41vh, 45px);
  background: #d98226;
}
@keyframes particle-animation-26 {
  100% {
    transform: translate3d(7vw, 68vh, 5px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.96;
  height: 10px;
  width: 10px;
  animation-delay: -5.2s;
  transform: translate3d(78vw, 78vh, 83px);
  background: #d92671;
}
@keyframes particle-animation-27 {
  100% {
    transform: translate3d(39vw, 55vh, 73px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.62;
  height: 7px;
  width: 7px;
  animation-delay: -5.4s;
  transform: translate3d(85vw, 74vh, 52px);
  background: #26d947;
}
@keyframes particle-animation-28 {
  100% {
    transform: translate3d(68vw, 86vh, 87px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.11;
  height: 8px;
  width: 8px;
  animation-delay: -5.6s;
  transform: translate3d(25vw, 11vh, 48px);
  background: #d92688;
}
@keyframes particle-animation-29 {
  100% {
    transform: translate3d(69vw, 88vh, 81px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.6;
  height: 6px;
  width: 6px;
  animation-delay: -5.8s;
  transform: translate3d(89vw, 44vh, 29px);
  background: #d97126;
}
@keyframes particle-animation-30 {
  100% {
    transform: translate3d(28vw, 47vh, 28px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.43;
  height: 8px;
  width: 8px;
  animation-delay: -6s;
  transform: translate3d(47vw, 22vh, 82px);
  background: #b2d926;
}
