#index-div_5 {
  /* width */
  width: 100vw;
  min-height: 25vh;
  background-color: lightgrey;
  /* display */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#index-div_5 > div {
  /* size */
  width: 50%;
  height: 25vh;
  /* design */
  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#index-div_5_1 {
  background-color: var(--div_5-back_left--);
  transition: all 0.7s linear;
}
#index-div_5_1:hover {
  opacity: 0.7;
  background-color: var(--div_5-back_left-strong--);
}
#index-div_5_2 {
  background-color: var(--div_5-back_right--);
  transition: all 0.7s linear;
}
#index-div_5_2:hover {
  opacity: 0.7;
  background-color: var(--div_5-back_right-strong--);
}
#index-div_5 > div > h2 {
  /* margin */
  margin: 50px 0 50px 0;
  /* font */
  font-size: 23px;
  font-weight: 600;
}
#index-div_5 > div > h4 {
  line-height: 25px;
  margin-bottom: 10px;
}
#index-div_5 > div > h4:last-child {
  opacity: 0.5;
}
