/* fourth */
#index-div_4 {
  /* size */
  width: 100vw;
  min-height: 30vh;
  background-color: white;
  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#index-div_4-title {
  /* margin */
  margin: 50px 0;
  /* font */
  font-size: 23px;
  font-weight: 600;
}
#index-div_4-description {
  margin: 0 5vw 50px 5vw;
  font-size: 17px;
}
