.index-main {
  width: 100vw;
  height: auto;
  /* display */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.index-div {
  z-index: 1;
}
#index-div_1 {
  z-index: -1;
}
#index-div_z-index-back {
  /* z-index */
  z-index: 0;
  /* position */
  top: -300px;
  left: 350px;
  /* size */
  width: 30vw;
  height: 200vh;
  transform: rotateZ(70deg);
}
#index-div_1-a_2,
#index-div_1-a {
  /* z-index */
  z-index: 3;
  /* design */
  background-color: none;
}
#index-div_1-button_2,
#index-div_1-button {
  /* z-index */
  z-index: 3;
  /* size */
  width: 200px;
  height: 50px;
  /* design */
  border: 1.5px solid black;
  border-radius: 10px;
  background-color: inherit;
  /* font */
  color: black;
  font-size: 15px;
  font-weight: 600;
  /* animation */
  transition: color 0.8s linear, background 0.5s linear;
}
#index-div_1-button_2:hover,
#index-div_1-button:hover {
  /* z-index */
  z-index: 3;
  color: grey;
  background-color: rgb(236, 236, 236);
}
#index-div_1-a {
  /* position */
  top: 90px;
  left: 20px;
}
#index-div_1-a_2 {
  /* position */
  top: 20px;
  left: 20px;
}
