:root {
  /* font */
  --color-white--: white;
  --color-black--: black;
  --color--: rgba(230, 230, 230, 1);
  
  /* font shadow only color (적용중:03_landing_page_2) */ 
  --shdow-div_1-title--: rgb(0, 0, 0)
  /* font shadow */
  --shadow-white-1--: -1px 0 var(--color-white--), 1px 0 var(--color-white--),
    0 1px var(--color-white--), 0 -1px var(--color-white--);
  --shadow-white-2--: -2px 0 var(--color-white--), 2px 0 var(--color-white--),
    0 2px var(--color-white--), 0 -2px var(--color-white--);
  --shadow-black-1--: -1px 0 var(--color-black--), 1px 0 var(--color-black--),
    0 1px var(--color-black--), 0 -1px var(--color-black--);
  --shadow-black-2--: -2px 0 var(--color-black--), 2px 0 var(--color-black--),
    0 2px var(--color-black--), 0 -2px var(--color-black--);
  --shadow-black-3--: -3px 0 var(--color-black--), 3px 0 var(--color-black--),
    0 3px var(--color-black--), 0 -3px var(--color-black--);
  --shadow-black-4--: -4px 0 var(--color-black--), 4px 0 var(--color-black--),
    0 4px var(--color-black--), 0 -4px var(--color-black--);
  /* background */
  --back--: rgba(233, 233, 233, 0.7);
  --back-strong--: rgba(146, 146, 146, 1);
  /* border */
  --border--: 2px solid rgba(144, 144, 144, 0.7);
  --border-radius--: 5px;
  --border-radius-10--: 10px;
  --border-radius-15--: 15px;

  /* hover */
  --color-hover--: rgb(202, 202, 202);


  /* special */
  --back-div_2--: rgb(228, 222, 222);
  --back-div_3--: rgb(51, 51, 51);
  --back-div_3__clmn--: white;
  --back-div_3__clmn-hover--:rgb(168, 167, 167);
  --div_5-back_left--: lightskyblue;
  --div_5-back_left-strong--:rgb(66, 140, 185);
  --div_5-back_right--: lightsalmon;
  --div_5-back_right-strong--:rgb(204, 98, 57);
  --div_6-back--: rgb(51, 51, 51);
  --div_6-hover--: rgb(12, 5, 5);
  --div_6-color-basic--: white;
  --div_6-color-link--: red;
}