/* reset */
@import "reset.css";
/* root */
@import "root.css";
/* animaiton */
@import "animation/animation_main.css";
/* components */
@import "components/back.css";
@import "components/profile.css";
@import "components/position.css";
/* single */
@import "index.css";
@import "root_custom.css";
@import "index-div_1__.css";
@import "index-div_2__.css";
@import "index-div_3__.css";
@import "index-div_4__.css";
@import "index-div_5__.css";
@import "index-div_6__.css";
@import "z-index__.css";

body {
  /* size */
  width: 100vw;
  height: auto;
  /* margin+padding */
  padding: inherit;
  margin: inherit;
  /* font */
  font-family: "Open Sans", "Bernard MT", sans-serif;
  /* display */
}
/* profile */
