/* Tablet 가로모드 */
/* 1개의 Column */
/* Flexible Img 표준 */
body {
  background-color: lightskyblue;
}
.nav_clmn {
  width: 50%;
  min-width: 400px;
}
.main_clmn-design {
  padding: 20% 5%;
  /* display */
  width: 90%;
  display: flex;
  flex-direction: column;
}
