#index-header_mini {
  height: 35vh;
  background-color: rgb(229, 229, 243);
  /* font */

  /* display */
  display: flaex;
  flex-direction: column;
  align-items: center;
}
#index-main-big {
  height: 52vh;
}
.background-animation__001__Gradient {
  background: linear-gradient(-30deg, #eff2f2, #c5dae9, #91bbcc, #f2f3f5);
}

#index-header_title,
#index-header_description {
  /* size */
  width: 100%;
  height: 50%;
  /* font */
  text-align: center;
  /* display */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#index-header_title {
  /* font */
  color: rgb(57, 10, 212);
  font-size: 30px;
  font-weight: 600;
  /* display */
}
#index-header_description {
  /* font */
  color: var(--color-header-description--);
  font-size: 15px;
  line-height: 25px;
  /* dlsiplay */
  align-items: flex-start;
  justify-content: center;
}
