#index-main,
.main_row,
.main_row_left,
.main_row_middle,
.main_row_right {
  display: flex;
}

/* set */
#index-main {
  height: fit-content;
  justify-content: center;
}
.row:after{
  contain: "";
}
.main_row {
  width: 1250px;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
}
.main_row_left,
.main_row_middle,
.main_row_right {
  /* z-index */
  /* size */
  width: 100%;
  flex-direction: column;
  align-items: right;
  justify-content: flex-start;

  /* transition */
  opacity: 0.8;
  background-color: var(--background-color-clmn--);
  transition: all 0.3s linear;
}
.main_row_left:hover,
.main_row_middle:hover,
.main_row_right:hover {
  opacity: 1;
  background-color: var(--background-color-clmn-hover--);
  transform: scale(1.2);
}
.main_row > div > h2 {
  /* margin */
  margin-top: 20%;
  margin-left: 10px;
  margin-bottom: 10px;
  /* size */
  width: 100%;
  /* font */
  text-align: left;
  font-size: 13px;
}
.main_row > div > img {
  /* margin */
  margin-bottom: 5px;
  /* size */
  width: 100%;
  height: 180px;
  object-fit: cover;
  /* border */
  border-radius: var(--border-radius--);
  /* design */
  background-color: red;
}
.main_row > div > a {
  text-decoration: inherit;
  line-height: 30px;
}
.main_row > div > a > button {
  /* margin */
  margin-bottom: 10px;
  /* font */
  font-size: 18px;
  /* design */
  border: none;
  background-color: initial;
}
.main_row > div > h3 {
  /* margin */
  margin: 0 10px;
  line-height: 20px;
}

