@import "_variable.scss";

$nav_logo_color-basic: rgba(0, 0, 0, 1);
$nav_button_color-basic: rgba(0, 0, 0, 0.7);
$nav_button_color-hover: rgba(255, 255, 255, 1);
$nav_button_back-hover: rgba(0, 0, 0, 0.7);
$nav_border_boundary: rgba(0, 0, 0, 0.7);

%transition-basic {
  transition: all 0.2s ease-in-out;
}
%transition-fast {
  transition: all 0.1s ease-in;
}

%settigns-nav_left {
  position: fixed;
  left: 0;
  width: 20vw;
  height: 100%;
  border-right: 2.5px solid $nav_border_boundary;
  div:nth-child(1) {
    background-color: white;
  }
  @extend %transition-fast;
  @media screen and (max-width: 1800px) {
    width: 25%;
  }
  @media screen and (max-width: 1500px) {
    width: 30%;
  }
  @media screen and (max-width: 1200px) {
    width: 35%;
  }
  @media screen and (max-width: 900px) {
    width: 40%;
  }
  @media screen and (max-width: 800px) {
    background-color: none;
    top: 0;
    width: 100%;
    border-right: none;
  }
}

%setitngs-nav_logo {
  height: 40px;
}
%settings-logo {
  button {
    margin-left: 15px;
    font-size: 22px;
    color: $nav_logo_color-basic;
  }
}

%settings-nav_div {
  border-bottom: 1px solid black;
  height: 30px;
  display: flex;
  align-items: center;
}
%settings-nav_div-hover {
  background-color: $nav_button_back-hover;
  @extend %transition-basic;
  button {
    color: $nav_button_color-hover;
    background-color: initial;
  }
}
%settings-button {
  button {
    margin-left: 30px;
    font-size: 16px;
    border: inherit;
    border-bottom: none;
    color: $nav_button_color-basic;
    background-color: inherit;
  }
}

%settings-nav_folding {
  @media screen and (max-width: 800px) {
    height: auto;
    $animation_time: 0.3s;
    $animation_delay: 0.05s;
    div:nth-child(1) {
      /* nope */
    }
    div:nth-child(2) {
      animation: animation_nav $animation_time $animation_delay * 12 linear
        forwards;
      display: none;
    }
    div:nth-child(3) {
      animation: animation_nav $animation_time $animation_delay * 11 linear
        forwards;
      display: none;
    }
    div:nth-child(4) {
      animation: animation_nav $animation_time $animation_delay * 10 linear
        forwards;
      display: none;
    }
    div:nth-child(5) {
      animation: animation_nav $animation_time $animation_delay * 9 linear
        forwards;
      display: none;
    }
    div:nth-child(6) {
      animation: animation_nav $animation_time $animation_delay * 8 linear
        forwards;
      display: none;
    }
    div:nth-child(7) {
      animation: animation_nav $animation_time $animation_delay * 7 linear
        forwards;
      display: none;
    }
    div:nth-child(8) {
      animation: animation_nav $animation_time $animation_delay * 5 linear
        forwards;
      display: none;
    }
    div:nth-child(9) {
      animation: animation_nav $animation_time $animation_delay * 4 linear
        forwards;
      display: none;
    }
    div:nth-child(10) {
      animation: animation_nav $animation_time $animation_delay * 3 linear
        forwards;
      display: none;
    }
    div:nth-child(11) {
      animation: animation_nav $animation_time $animation_delay * 2 linear
        forwards;
      display: none;
    }
    div:nth-child(12) {
      animation: animation_nav $animation_time $animation_delay * 1 linear
        forwards;
      display: none;
    }
    div:nth-child(13) {
      animation: animation_nav $animation_time $animation_delay * 0 linear
        forwards;
      display: none;
    }
    @keyframes animation_nav {
      0% {
        z-index: -2;
        opacity: 1;
      }
      100% {
        z-index: -2;
        transform: translateY(-50px);
        opacity: 0;
        background-color: none;
        display: none;
      }
    }
  }
}

%settings-main {
  margin-left: 20%;
  width: 80%;
  height: auto;
  @extend %transition-fast;
  @media screen and (max-width: 1800px) {
    margin-left: 25%;
    width: 75%;
  }
  @media screen and (max-width: 1500px) {
    margin-left: 30%;
    width: 70%;
  }
  @media screen and (max-width: 1200px) {
    margin-left: 35%;
    width: 65%;
  }
  @media screen and (max-width: 900px) {
    margin-left: 40%;
    width: 60%;
  }
  @media screen and (max-width: 800px) {
    margin-left: initial;
    margin-top: 70px;
    width: 100%;
  }
}
%settings-main_column {
  margin-bottom: 30px;
}
%settings-content {
  .content_title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: $margin-title;
  }
  .content_box {
    h6,
    li,
    div {
      font-size: 16px;
      margin-bottom: 16px;
    }
    h6 {
      margin-left: $margin-title + $margin-plus;
    }
    li {
      margin-left: $margin-title + $margin-plus + $margin-plus;
    }
    div {
      padding: 20px 20px;
      margin-left: 8%;
      margin-right: 8%;
      width: 84%;
      background-color: rgb(206, 206, 206);
      @extend %transition-basic;
      @media screen and (max-width: 1800px) {
        $margin_1800: 12%;
        margin-left: $margin_1800;
        margin-right: $margin_1800;
        width: 100%-$margin_1800 * 2;
      }
      @media screen and (max-width: 1500px) {
        $margin_1500: 15%;
        margin-left: $margin_1500;
        margin-right: $margin_1500;
        width: 100%-$margin_1500 * 2;
      }
      @media screen and (max-width: 1200px) {
        $margin_1200: 18%;
        margin-left: $margin_1200;
        margin-right: $margin_1200;
        width: 100%-$margin_1200 * 2;
      }
      @media screen and (max-width: 900px) {
        $margin_900: 20%;
        margin-left: $margin_900;
        margin-right: $margin_900 - 10%;
        width: 100%-$margin_900 * 2 + 10%;
      }
      @media screen and (max-width: 800px) {
        $margin_800: 20%;
        margin-left: $margin_800;
        margin-right: $margin_800 - 10%;
        width: 100%-$margin_800 * 2 + 10%;
      }
    }
  }
}
