/* nav_top */
#nav_bottom,
#nav_top,
.nav_row,
.nav_clmn_left,
.nav_clmn_right {
  display: flex;
}
#nav_bottom,
#nav_top {
  height: fit-content;
  justify-content: center;
  background-color: var(--background-color-basic--);
}
.nav_clmn_left {
}

.nav_row {
  width: 1000px;
  flex-direction: row;
  justify-content: space-between;
}
.nav_clmn_left,
.nav_clmn_right {
  width: 10%;
  align-items: top;
  line-height: 35px;
  color: var(--color-title--);
}
.nav_clmn_left {
  /* font */
  font-size: 35px;
  /* border */
  border-top: var(--border--);
  /* display */
  text-align: left;
  justify-content: center;
  flex-shrink: 0; 
}
.nav_clmn_left > h1 {
  /* transition */
  transition: all 0.3s linear;
}
.nav_clmn_left > h1:hover {
  color: rgb(196, 233, 213);
  transform: scale(1.3);
}
.nav_clmn_right {
  flex-grow: 1;
  /* display */
  text-align: right;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
#nav_clmn_right_row_bottom,
#nav_clmn_right_row_top {
  margin: 15px;
}
#nav_clmn_right_row_top {
  flex-grow: 1;
  /* font */
  font-size: 20px;
  /* dispaly */
  display: flex;
  flex-direction: column-reverse;
}
#nav_clmn_right_row_top > span {
  color: var(--color-weather--);
  font-size: 16px;
}
#nav_clmn_right_row_bottom {
  justify-content: flex-end;
}
.nav_button {
  color: var(--color-button--);
  font-size: 16px;
  /* inherit */
  padding-top: 10px;
  border: none;
  outline: none;
  background-color: inherit;

  transition: all 0.3s linear;
}
.nav_button:hover {
  transform: scale(1.3);
}
