.nav_title_box-center,
.nav_title_box-right,
.nav_title_box-left {
  /* border */
  border: var(--border--);
  background-color: lightpink;
  /* size */
  width: 33%;
  height: 29px;
  /* font */
  font-size: 20px;
  font-weight: 600;
  /* display */
  display: flex;
  align-items: center;
}
.nav_title_box-center {
  justify-content: center;
}
.nav_title_box-right {
  justify-content: flex-end;
}
.nav_title_box-left {
  justify-content: flex-start;
}
