.index-main {
  /* design */
  height: auto;
  background-color: inherit;
  /* padding */
  padding-top: 2vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 10vh;
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}
.index-div {
  /* design */
  width: 70%;
  max-width: 1000px;
  height: auto;
  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
}
.index__clmn {
  /* design */
  width: 100%;
  max-width: 600px;
  border: var(--border--);
  /* display */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index__clmn__clmn {
  width: 100%;
  height: auto;
  padding: 20px;
  border: var(--border--);
}
#index-title {
  /* design */
  /* font */
  font-size: 20px;
  text-align: center;
}
#index-subtitle {
  /* design */
  /* font */
  font-size: inherit;
  text-align: left;
}
#index__clmn__clmn-title {
  /* position */
  top: -10px;
  left: 10px;
  /* design */
  background-color: wheat;
  /* font */
  font-size: inherit;
}
.index-input__box > input {
  margin-bottom: 10px;
}

#index__clmn__clmn-title {
  margin-bottom: 10px;
}
#index__clmn__clmn-choice > input {
  margin-bottom: 10px;
}
#dropdown1 {
  margin-bottom: 10px;
}
