/* reset */
@import "reset.css";
/* root */
@import "root.css";
/* components */
@import "components/profile.css";
@import "components/position.css";
/* single */
@import "query_0_basic.css";
@import "query_0_main.css";

/* media 폴더 안의 css는 html에서 임포트 */

body {
  padding: inherit;
  margin: inherit;
  font-family: "Open Sans", sans-serif;
}
/* profile */
