@import "_variable.scss";
@import "_animation.scss";
@import "_responsive.scss";

%transition {
  transition: all 0.3s ease-in-out;
}
%size_query {
  z-index: 2;
  width: 950px;
  min-height: 100vh;
  height: auto;
  background-color: white;
  // box-shadow: 10px 0, -10px 0, 0 -10px, 0 10px, 10px 10px,
  //   -10px 10px $shadw_black;
  // box-shadow: blur-radius 20px;
  $shaodw_size: 1px;
  $shaodw_size_minus: -1px;
  $shadow_blur: 20px;
  box-shadow: $shaodw_size $shaodw_size $shadow_blur $shadw_black;
  @extend %transition;
  #index_main_header {
    @extend %idnex_main_header;
    mix-blend-mode: luminosity;
  }
  @media screen and (max-width: 950px) {
    width: 100%;
  }
}
%button-round {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  font-size: 18px;
  color: $basic_grey;
  border: 1px solid $basic_grey;
  background-color: inherit;
  @extend %transition;

  @media screen and (max-width: 950px) {
    width: 180px;
    height: 30px;
  }
}
%idnex_main_header {
  width: 100%;
  height: 100vh;
  display: flex;
  // First CLMN
  .header_clmn {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    h1 {
      color: $basic_black;
      font-size: 30px;
      margin-bottom: 12px;
      @extend %transition;
    }
    h3 {
      color: $basic_grey;
      font-size: 25px;
      margin-bottom: 22px;
      @extend %transition;
    }
    button {
      @extend %button-round;
    }
    button:hover {
      color: white;
      background-color: rgb(29, 29, 29);
    }
  }
  // Second CLMN
  img {
    width: 60%;
  }
  @extend %transition;
  // media query
  @media screen and (max-width: 950px) {
    .header_clmn {
      flex-basis: 600px;
      flex-shrink: 1;
      h1 {
        font-size: 22px;
        margin-bottom: 12px;
      }
      h3 {
        font-size: 18px;
        margin-bottom: 22px;
      }
    }
    img {
      flex-basis: 550px;
      height: 100vh;
      object-fit: cover;
      flex-shrink: 20;
    }
  }
}

body {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  #index_main {
    @extend %size_query;
    #index_main-grid {
      width: 950px;
      height: auto;
      display: grid;
      grid-template: repeat(4, 1fr) / repeat(1, 1fr);
      @media screen and (max-width: 950px) {
        width: 100%;
      }
      .grid_box {
        @extend %transition;
        .grid_box_img {
          width: 100%;
          height: 400px;
          background-color: rgb(255, 255, 255);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: luminosity;
            @extend %transition;
          }
          @extend %transition;
        }
        .grid_box_img:hover {
          background-color: inherit;
          img {
            mix-blend-mode: inherit;
          }
        }
        .grid_box_text {
          width: 100%;
          height: 100px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          background-color: white;
          .grid_box_title {
            font-size: 22px;
            width: 80%;
          }
          .grid_box_description {
            min-width: 450px;
            width: 80%;
            font-size: 18px;
          }
        }
      }
    }
    #index_main_header_bottom {
      width: 100%;
      height: 100px;
      color: white;
      background-color: $basic_drakgrey;
      display: flex;
      align-items: center;
      justify-content: center;
      #index_main_header_bottom_title {
        text-align: center;
        font-size: 22px;
        width: 150px;
        border-left: 1px solid white;
        border-right: 1px solid white;
      }
    }
  }
  #nav_bottom {
    bottom: 0;
    width: 100%;
    height: 300px;
    color: $basic_black;
    background-color: inherit;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    h1,
    h6 {
      margin-bottom: 10px;
    }
    h1 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    h6 {
      font-size: 20px;
    }
    strong {
      font-weight: 600;
    }
  }
}
