:root {
  --clmn-transiton--: 0.5s linear;
  --clmn-basic--: rgb(195, 189, 174);
  --clmn-hover--: rgb(151, 146, 133);
  --clmn-basic-light: rgb(226, 223, 217);
  --clmn-basic-heavy: rgb(168, 165, 158);
}
