/* reset */
@import "reset.css";
/* root */
@import "root.css";
/* animaiton */
@import "animation/animation_button.css";
/* components */
@import "components/back.css";
@import "components/profile.css";
@import "components/position.css";
/* single */
@import "index.css";
@import "root_custom.css";

body {
  /* size */
  height: 200vh;
  width: 100vw;
  /* margin+padding */
  padding: inherit;
  margin: inherit;
  /* font */
  font-family: "Open Sans", "Bernard MT", sans-serif;
  /* display */
  display: flex;
  flex-direction: column;
}
/* profile */
