.adv_header__clmn-wrap {
  /* size */
  width: 100%;
  /* height: 높이에 맞춰서 별도 설정; */
  /* design */
  background-color: white;
  /* border */
  border: var(--border--);
  border-radius: var(--border-radius--);
}
/* image */
/*  이미지 + 글자가 가로 정렬 */
#adv_header__clmn__image {
  /* size */
  max-width: 40vw;
}
/* img_size */
#adv_header__icon-size {
  /* size */
  width: 40vw;
  height: 40vh;
  object-fit: contain;
  max-width: 300px;
  max-height: 300px;
}

/* button */
#adv_header__clmn__title > a > button {
  /* size */
  width: 120px;
  height: 30px;
  /* border */
  border: none;
  border: var(--border--);
  /* design */
  background-color: var(--nav_topbar_background--);
  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation */
  transition: var(--animation-linear-07--);
}
#adv_header__clmn__title > a > button:hover {
  color: var(--nav_topbar_color-hover--);
  background-color: var(--nav_topbar_background-hover--);
}
#adv_header__clmn__title > a {
}
#adv_header__clmn__title svg {
  width: 10px;
}

/* title */
/* adv_header__clmn__title */
#adv_header__clmn__title {
  line-height: 18px;
  /* width */
  max-width: 280px;
  font-weight: 600;
  color: var(--nav_topbar_color--);
  /* display */
  display: flex;
  flex-wrap: wrap;
}
#adv_header__clmn__title > p:nth-child(1) {
  /* marign */
  margin: 0 0 12px 0;
  /* font */
  font-size: 20px;
}
#adv_header__clmn__title > p:nth-child(2),
#adv_header__clmn__title > p:nth-child(3) {
  /* margin */
  margin: 0 0 12px 0;
  /* font */
  font-size: 15px;
}

/* media */
@media screen and (max-width: 756px) {
  .adv_header__clmn-wrap {
    height: 500px;
  }
  .adv_header__clmn {
    /* size */
    height: 500px;
    /* display */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  /* 이미지 + 글자가 수직 정렬 */
}
@media screen and (min-width: 756px) {
  /* clmn__wrap */
  .adv_header__clmn-wrap {
    height: 400px;
  }
  .adv_header__clmn {
    /* margin */
    margin: 40px 0 40px 40px;
    /* size */
    /* display */
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  /* imgae */
  #adv_header__clmn__image {
    /* margin */
    margin: 0 50px 0 0;
  }

  /* title */
  #adv_header__clmn__title {
    width: 30vw;
  }

  /* button */
  #adv_header__clmn__title > a > button {
    transform: translateX(40px);
  }
}
