.main_header {
  width: 100vw;
  min-height: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.main_header__clmn {
  /* width */
  width: 100vw;
  height: 400px;
  /* design */
  background-color: lightpink;
  /* display */
  display: flex;
  align-items: center;
}
.main_header__box {
  /* margin */
  margin-left: 45px;
  /* design */
}
.main_header__box > div {
  /* margin */
  /* border */
  border: var(--border--);
  border-radius: var(--border-radius--);
  /* design(basic) */
  color: var(--nav_topbar_color--);
  background-color: var(--nav_topbar_background--);
  /* size */
  width: 240px;
  height: 50px;
  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation */
  transition: var(--animation-linear-07--);
}
.main_header__box > div:hover {
  color: var(--nav_topbar_color-hover--);
  background-color: var(--nav_topbar_background-hover--);
}
/* for margin divv:first-child */
.main_header__box > div:first-child {
  /* margin */
  margin-bottom: 20px;
}
#main_header__box-title {
  /* font */
  font-size: 24px;
  font-weight: 600;
}
#main_header__box-subtitle {
  font-size: 15px;
  font-weight: 600;
}

.main_header__clmn:nth-child(2) {
  /* desing */
  /* display */
  display: flex;
  align-items: left;
  justify-content: left;
}
.main_header__clmn:nth-child(2) > .main_header__box {
  /* reset margin */
  margin-left: 0;
  /* size */
  width: 100%;
  /* design */
  /* display */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main_header__clmn:nth-child(2) > .main_header__box > div {
  margin-bottom: 0;
  /* size */
  min-width: 190px;
  width: 100%;
  height: 100px;
  background-color: var(--nav_topbar_background--);
  /* display */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
/* for margin */
.main_header__clmn:nth-child(2) > .main_header__box > div:first-child {
  /* margin */
  margin-right: 0;
}
.main_header__clmn:nth-child(2) > .main_header__box > div > p:nth-child(1) {
  font-size: 50px;
}
.main_header__clmn:nth-child(2) > .main_header__box > div > p:nth-child(2) {
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .main_header {
    height: 545px;
  }
  .main_header__clmn:nth-child(2) {
    /* transform : main_header__clmn:nth-child(1) 이 parents */
    transform: translateY(-85px);
    /* width */
    width: 100%;
    height: auto;
    /* desing */
    background-color: inherit;
    /* display */
    display: flex;
    align-items: left;
    justify-content: left;
  }
  .main_header__clmn:nth-child(2) > .main_header__box {
    /* reset margin */
    margin-left: 0;
    /* size */
    width: 100%;
    /* design */
    background-color: inherit;
    /* display */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_header__clmn:nth-child(2) > .main_header__box > div {
    margin: 0;
    /* size */
    min-width: 220px;
    width: 43vw;
    height: 100px;
    color: var(--nav_topbar_color--);
    background-color: var(--nav_topbar_background--);
    /* display */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* animation */
    transition: var(--animation-linear-07--);
  }
  .main_header__clmn:nth-child(2) > .main_header__box > div:hover {
    color: var(--nav_topbar_color-hover--);
    background-color: var(--nav_topbar_background-hover--);
  }
  /* for margin */
  .main_header__clmn:nth-child(2) > .main_header__box > div:nth-child(1) {
    /* margin */
    margin-right: 1vw;
  }
  .main_header__clmn:nth-child(2) > .main_header__box > div > p:nth-child(1) {
    font-size: 45px;
  }
  .main_header__clmn:nth-child(2) > .main_header__box > div > p:nth-child(2) {
    font-size: 17px;
  }
  @media screen and (max-width: 501px) {
    .main_header {
      height: 660px;
    }
    .main_header__clmn:nth-child(2) > .main_header__box > div {
      width: 100%;
    }
    .main_header__clmn:nth-child(2) > .main_header__box > div:nth-child(1) {
      margin-bottom: 10px;
    }
  }
}
@media screen and (min-width: 701px) and (max-width: 100vw) {
  /* 해당 조건 충족 시, 가로로 flex 박스 두개를 정렬하는데 mbasic-margin 속성값이 중복되어 여백이 생긴다. 이를 제거한다. */
  .basic-margin:nth-child(1) {
    margin: 2vh 0vw 2vh 5vw;
  }
  .basic-margin:nth-child(2) {
    margin: 2vh 0vw 2vh 2.5vw;
  }
  .main_header {
    display: flex;
    flex-direction: inherit;
  }
  .main_header__clmn:nth-child(1) {
    width: 57.5%;
  }
  .main_header__clmn:nth-child(2) {
    width: 30%;
    height: 400px;
    /* display */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .main_header__clmn:nth-child(2) > .main_header__box > div {
    /* transform */
    transform: translateX(-0vw);
    /* size */
    height: 190px;
  }
  .main_header__clmn:nth-child(2) > .main_header__box > div:nth-child(1) {
    margin-bottom: 15px;
  }
}
