/* reset */
@import "reset.css";
/* root */
@import "root.css";
/* components */
@import "components/all_back.css";
@import "components/all_font.css";
@import "components/all_porfile.css";
@import "components/all_position.css";
@import "components/all_topbar.css";
/* single */
@import "index.css";
body {
  padding: inherit;
  margin: inherit;
  font-family: "Open Sans", sans-serif;
}
/* profile */
