.display-hidden {
  display: none;
}
.display-inherit {
  display: inherit;
}
.color {
  background-color: rgb(52, 49, 58);
}
.index-main {
  /* design */
  height: 95vh;
  margin-top: 30px;
  background-color: rgb(52, 49, 58);
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.index-div {
  width: 90vw;
  max-width: 900px;
}
.index-div:nth-child(1) {
  /* design */
  padding: 10px 30px;
  /* font */
  color: white;
}
.index-div:nth-child(2) {
  /* design */
  height: 50vh;
  border-radius: var(--border-radius-15--);
  background-color: rgba(24, 24, 24, 0.9);
  /* padding */
  /* display */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.index-div__clmn .index-div__clmn__label {
  color: white;
  margin-left: 10%;
  text-align: left;
}
.index-div__clmn .index-div__clmn__input {
  width: 80%;
  margin: 5px 10% 30px 10%;
}
.index-div__clmn .index-idv__clmn__text {
  margin-left: 10%;
  color: white;
  margin: 5px 0 30px 0;
  /* display */
  display: none;
}
.index-div__clmn-submit {
}
.index-div__clmn-resubmit {
}
.index-div > p {
  text-align: center;
}
.index-div > p > a {
  text-decoration: inherit;
  color: white;
}
.index-div__title_1 {
  margin-bottom: 3px;
  /* font */
  font-size: 20px;
  font-weight: 600;
}
.index-div__title_2 {
  margin-bottom: 5px;
  /* font */
  font-size: 12px;
}
.index-div__title_3 {
  /* font */
  font-size: 9px;
}
