:root {
  /* font */
  --color--: rgba(230, 230, 230, 1);
  /* background */
  --back--: rgba(233, 233, 233, 0.7);
  --back-strong--: rgba(146, 146, 146, 1);

  --border--: 2px solid rgba(144, 144, 144, 0.7);
  --border-radius--: 5px;
  --border-radius-10--: 10px;
  --border-radius-15--: 15px;
}
