%display-flex-column-color {
  color: $index-div-color-white;
}
%display-flex-column-display {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
%display-flex-column-size_h1 {
  $h1_size: 50px;
  font-size: $h1_size;
  margin-bottom: $h1_size;
}
%display-flex-column-size_h3 {
  $h3_size: 22px;
  width: $index-div-text-width;
  // font
  font-size: $h3_size;
  margin-bottom: $h3_size;
}
%display-flex-column-size_h5 {
  $h5_size: 17px;
  width: $index-div-text-width;
  max-width: $index-div-text-max-width;
  // font
  font-size: $h5_size;
  line-height: $h5_size + 15px;
}
%display-flex-column-sive_h6 {
  $h6_size: 12px;
  width: $index-div-text-width;
  max-width: $index-div-text-max-width;
  margin-bottom: $h6_size;
  //font
  font-size: $h6_size;
  line-height: $h6_size + 15px;
}

%button {
  width: auto;
  height: 40px;
  margin: 0 0 0 10px;
  // font
  color: $nav_button-color;
  font-size: 16px;
  // display
  border: $nav_button-border;
  background-color: $nav_button-background;
}

%button-transition {
  transition: transform, background-color 0.3s linear;
}
%button-hover {
  transform: scale(1.1);
  background-color: $nav_button-background-hover;
}
