$nav-background: rgb(51, 51, 51);
$nav_button-color: rgb(255, 255, 255);
$nav_button-border: none;
$nav_button-background: inherit;
$nav_button-background-hover: rgb(83, 83, 83);

$nav_div-nth-child-1: rgb(1, 1, 1);
$nav_div-nth-child-2: rgb(37, 37, 41);
$nav_div-nth-child-3: rgb(244, 244, 244);
$nav-div-last-child: $nav-background;

$index-div-color-white: rgb(255, 255, 255);
$index-div-color-black: rgb(0, 0, 0);
$index-div-text-width: 80%;
$index-div-text-max-width: 1100px;
